# fly.toml app configuration file generated for clark-voice on 2026-01-16T02:53:08-05:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'clark-voice'
primary_region = 'iad'

[build]
  dockerfile = 'Dockerfile'

[env]
  PORT = '7860'

[http_service]
  internal_port = 7860
  auto_stop_machines = 'off'
  auto_start_machines = true
  min_machines_running = 1

  [http_service.concurrency]
    type = 'connections'
    hard_limit = 100
    soft_limit = 50

  [[http_service.checks]]
    interval = '30s'
    timeout = '5s'
    grace_period = '15s'
    method = 'GET'
    path = '/'

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 2
  memory_mb = 1024
